extends ../layout.pug

block content
  h1.page-title Contact Messages

  if contacts.length
    table.menu-table
      thead
        tr
          th First name
          th Last name
          th Email
          th Message
          th Date
          th Actions
      tbody
        each contact in contacts
          tr
            td= contact.firstName
            td= contact.lastName
            td= contact.email
            td= contact.message
            td= new Date(contact.createdAt).toLocaleString()
            td
              a.btn-delete(
                href=`/admin/contacts/delete/${contact._id}`
                onclick="return confirm('Are you sure you want to delete this message?')"
              )
                |  Delete
  else
    p.no-data No contact messages yet.
