extends ../layout

block content
  .page-actions
    a.btn-primary(href="/admin/menu/add") 
      |  Add New Item
  

  table.menu-table
    thead
      tr
        th Image
        th Name
        th Description
        th Price
        th Actions
    tbody
      each item in menu
        tr
          td
            img.menu-thumb(src=item.image, alt=item.name)
          td #{item.name}
          td #{item.description}
          td $#{item.price.toFixed(2)}
          td
            a.btn-edit(href=`/admin/menu/edit/${item._id}`)
              | Edit
            a.btn-delete(href=`/admin/menu/delete/${item._id}`)
              | Delete
