extends ../layout

block content
  h1.page-title Edit Menu Item

  .form-card
    form(
      method="POST",
      action=`/admin/menu/edit/${menu._id}`,
      enctype="multipart/form-data"
    )

      .form-group
        label(for="name") Name
        input(
          type="text",
          id="name",
          name="name",
          value=menu.name,
          required
        )

      .form-group
        label(for="price") Price
        input(
          type="number",
          id="price",
          name="price",
          step="0.01",
          value=menu.price,
          required
        )

      .form-group
        label(for="description") Description
        textarea(
          id="description",
          name="description",
          rows="4"
        )= menu.description

      .form-group
        label Current image
        if menu.image
          img.menu-preview(
            src=menu.image,
            alt=menu.name
          )
        else
          p.no-image No image uploaded

      .form-group
        label(for="image") Change image
        input(
          type="file",
          id="image",
          name="image",
          accept="image/*"
        )

      .form-actions
        button.btn-primary(type="submit")
          i.fa-solid.fa-save
          |  Update Item

        a.btn-secondary(href="/admin/menu")
          i.fa-solid.fa-arrow-left
          |  Cancel
