extends ../layout.pug

block content
  h1 Reservation List

  a.btn.btn-success(href="/admin/reservation/add") Add Reservation

  table.table
    thead
      tr
        th Name
        th Phone
        th Email
        th Date
        th Time
        th Guests
        th Message
        th Actions
    tbody
      each reservation in reservations
        tr
          td= reservation.name
          td= reservation.phone || "-"
          td= reservation.email
          td= reservation.date
          td= reservation.time
          td= reservation.guests
          td= reservation.message || "-"
          td
            a.btn.btn-success.btn-sm(href=`/admin/reservation/edit?resId=${reservation._id}`) Edit
            a.btn.btn-danger.btn-sm(href=`/admin/reservation/delete?resId=${reservation._id}` onclick="return confirm('Are you sure you want to delete this reservation?')") Delete
