extends ../layout.pug

block content
  h1.page-title Customer Reviews

  table.menu-table
    thead
      tr
        th Name
        th Rating
        th Review
        th Status
        th Actions

    tbody
      each review in reviews
        tr
          td= review.name
          td= review.rating || "-"
          td= review.message
          td= review.isPublished ? "Published" : "Pending"

          td.actions-cell
            if !review.isPublished
              a.btn-edit(
                href=`/admin/reviews/publish/${review._id}`
              ) Publish
            else
              a.btn-secondary.unpublish-btn(
                href=`/admin/reviews/unpublish/${review._id}`
              ) Unpublish

            a.btn-delete(
              href=`/admin/reviews/delete/${review._id}`,
              onclick="return confirm('Are you sure you want to delete this review?')"
            ) Delete
